@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile <--> Desktop  */

/* Variables */
:root {
    --spacing-1080: 1080px;
}

/* Global Styles */
@layer base {
    body {
        scrollbar-gutter: stable both-edges;
        overflow-y: scroll;
    }
    html{
        scroll-behavior: smooth;
    }
    h1 {
        font-size: 3rem;
        line-height: 4.125rem;

        @apply font-inter font-bold;
    }
    h2 {
        font-size: 2.25rem;
        line-height: 2.875rem;

        @apply font-inter font-bold;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 46px;

        @apply font-inter font-semibold;
    }
    button {
        font-size: 0.875rem;
        line-height: normal;

        @apply font-inter font-semibold;
    }
    a {
        font-size: 0.75rem;
        line-height: 1.25rem;
        @apply font-inter font-medium;
    }
    img {
        @apply w-full;
    }
    section {
        @apply w-[87.5%] mx-auto my-14;
    }
    input {
        @apply body2 border border-gray-400 text-gray-500 px-6 py-4;
    }
    select {
        @apply body2 border border-gray-400 text-gray-500 px-6 py-4;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
    input[type=number] {
        appearance: textfield;
    }
}

/* Utilities */
@layer components {
    .body1 {
        font-size: 1.125rem;
        line-height: 2.25rem;
        @apply font-inter font-medium;
    }
    .body2 {
        font-size: 1rem;
        line-height: 1.25rem;
        @apply font-inter font-medium;
    }
    .subtitle1 {
        font-size: 1.25rem;
        line-height: 1.25rem;
        @apply font-inter font-bold;
    }
    .subtitle2 {
        font-size: 1.125rem;
        line-height: 1.25rem;
        @apply font-inter font-semibold;
    }
    .link {
        font-size: 0.75rem;
        line-height: 1.25rem;
        @apply font-inter font-medium;
    }
    
    .skeleton {
        animation: skeleton-loading 1s linear infinite alternate;
    }
    
    @keyframes skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 70%);
        }
    
        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }
}